import lombok.Getter;
import lombok.Setter;
import vnpay.game.dto.BaseRequest;
import org.springframework.beans.BeanUtils;
import java.util.Date;
#importObject(${model})

@Setter
@Getter
public class ${name}Form extends BaseRequest {

    private String id;
    #foreach($item in $fields)
    private ${item.javaType.getValue()} ${item.fieldName};
    #end
    #if( $generateDate )
    private String createdBy;
    private Date createdAt;
    private Date modifiedAt;
    private String modifiedBy;
    #end

    public ${model} to${name}() {
        ${model} ${name} = new ${model}();
        BeanUtils.copyProperties(this, ${name});
        return ${name};
    }

    public static ${name}Form from${name}(${model} model) {
        ${name}Form form = new ${name}Form();
        BeanUtils.copyProperties(model, form);
        return form;
    }
}
